@font-face {
  font-family: 'Pretendard';
  src: url('./Pretendard/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./Pretendard/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Jalnan2';
  src: url('./Jalnan2/Jalnan2TTF.ttf') format('truetype');
  font-weight: normal;
}

.font-family-pretendard {
  font-family: Pretendard, system-ui, -apple-system, 'Noto Sans KR', sans-serif;
}

.font-family-jalnan2 {
  font-family: 'Jalnan2', sans-serif;
}
